<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wht.product.dao.PurchaseOrderMapper">
  <resultMap id="BaseResultMap" type="com.example.wht.product.pojo.PurchaseOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goodsId" jdbcType="INTEGER" property="goodsid" />
    <result column="counts" jdbcType="INTEGER" property="counts" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="purchaseId" jdbcType="INTEGER" property="purchaseid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goodsId, counts, amount, purchaseId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_purchase_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_purchase_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.wht.product.pojo.PurchaseOrder">
    insert into t_purchase_order (id, goodsId, counts, 
      amount, purchaseId)
    values (#{id,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}, #{counts,jdbcType=INTEGER}, 
      #{amount,jdbcType=DOUBLE}, #{purchaseid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.wht.product.pojo.PurchaseOrder">
    insert into t_purchase_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsid != null">
        goodsId,
      </if>
      <if test="counts != null">
        counts,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="purchaseid != null">
        purchaseId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="counts != null">
        #{counts,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="purchaseid != null">
        #{purchaseid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.wht.product.pojo.PurchaseOrder">
    update t_purchase_order
    <set>
      <if test="goodsid != null">
        goodsId = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="counts != null">
        counts = #{counts,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="purchaseid != null">
        purchaseId = #{purchaseid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.wht.product.pojo.PurchaseOrder">
    update t_purchase_order
    set goodsId = #{goodsid,jdbcType=INTEGER},
      counts = #{counts,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DOUBLE},
      purchaseId = #{purchaseid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>